<div class="col-md-4 mb-3" data-product-name="<%= product.name %>">
  <div class="card shadow-sm">
    <div class="card-body">
      <% if product.images[0]%>
        <%= image_tag(product.images[0].image_url, class: "card-img-top")%>
      <% end %>
      <p class="card-text"><%= link_to product.name, product %></p>
      <p class="card-text">Precio: <%= product.price %></p>
      <p class="card-text">Informacion: <%= product.information %></p>
      <!--<p class="card-text"><%= product.description %></p>>-->
      <td><%= button_to "Añadir al carro", { controller: "shopping_cart", action: "add", product_id: product.id }, class: "btn btn-primary", style: "background-color: #FC83E2; border-color: #FC83E2" %></td>
    </div>
  </div>
</div>